<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <center>
        <div class="edit-post">
        <h1>Create New Post</h1>
        <nav>
            <ul>
                <li>&#8618;<a href="/">Home</a></li>
                <li>&#8618;<a href="/posts">All Posts</a></li>
                <li>&#8618;<a href="/posts/new">Create Post</a></li>
            </ul>
        </nav>
        <br>
            <form action="" method="POST" class="create-post-form">
                <input type="text" name="username" id="" placeholder="username" value="abhishek">
                <br>
                <br>
                <input type="number" name="followers" id="" placeholder="followers" value="82">
                <input type="number" name="following" id="" placeholder="following" value="700">
                <br>
                <br>
                <textarea placeholder="content" name="" id="" cols="30" rows="10"></textarea> 
                <br>
                <input type="text" placeholder="Likes" value="0" name="likes">
                <br>
                <br>
                <input type="text" class="tags" placeholder="tags">
                <br>
                <br>
                <button>Create Post</button>
            </form>
    </center>
</body>
</html>