<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <center>
        <header>
            <h1>Blogging Web App</h1>
            <nav>
                <ul>
                    <li>&#8618;<a href="/">Home</a></li>
                    <li>&#8618;<a href="/posts">All Posts</a></li>
                    <li>&#8618;<a href="/posts/new">Create Post</a></li>
                </ul>
            </nav>
        </header>
    </center>
</body>
</html>